<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/standards.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Past Matches</title>
</head>
<body style="background-color: #292929;">  
    <nav class="mynavbar">
        <ul>
            <li><a href="/live"><img th:src="@{/images/sfoxlogo.png}" alt="Logo" width="200px" height="200px"/></a></li>
            <li><a href="/matches">Match History</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/live">Live</a></li>
            <li><a href="/users/inbox">Inbox</a></li>
            <li><a href="/users/settings">Account</a></li>
        </ul>
    </nav>
    <nav class="gamebar">
        <ul>
            <li id="lol"><img th:src="@{/images/lol.png}" alt="lol" width="100" height="50"></li>
            <li id="cs"><img th:src="@{/images/csgo.png}" alt="cs" width="100" height="50"></li>
            <li id="val"><img th:src="@{/images/valorant.png}" alt="val" width="100" height="50"></li>
            <li id="cod"><img th:src="@{/images/cod.png}" alt="cod" width="100" height="50"></li>
        </ul>
    </nav>
    <script th:src="@{/js/navbar.js}" type="text/javascript"></script>

  <!-- Used for a list of current teams-->
<table class="table table-dark table-striped table-hover table-active" style="width: 50%; margin: auto;">
    <thead>
        <tr>
            <th scope="col" style="width: 10%;">Acronym</th>
            <th scope="col">Team Name</th>
            <th scope="col">Players</th>
        </tr>
    </thead>
    <tbody th:each="currentTeamDto: ${currentTeamDtoList}">
        <tr>
            <td th:text="${currentTeamDto.acronym}"></td>
            <td th:text="${currentTeamDto.name}"></td>
            <td><a class="mylink" th:href="@{/players/{teamid}/{teamname}(teamid=${currentTeamDto.id}, teamname=${currentTeamDto.name})}">Players</a></td>
        </tr>
    </tbody>
</table>



</body>
</html>

  <!-- Used for a list of current teams-->
<table class = "table table-dark table-striped table-hover table-active" style="width: 50%; margin: auto;">  
    <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
        </tr>
    </thead>
    <tbody th:each="currentPlayer : ${playerDtoList}">
        <span th:if="${currentPlayer.teamId} == ${teamidsearch}">
        <tr>
            <td th:text="${currentPlayer.game}"></td>
            <td th:text="${currentPlayer.name}"></td>
            <td th:text="${teamnamesearch}"></td>
        </tr>
        </span>
    </tbody>
  </table>



</body>
</html>